.header {
  display: grid;
  font-family: Verdana, sans-serif;
  grid-template-columns: 183px 352px 543px;
  grid-template-areas:
  "logo nav contacts";
  padding: 19px 0;
  max-width: 1200px;
  margin: 0 auto;
  place-items: center;
  gap: 65px;
}