.exp__pentagon {
  position: relative;
  background-image: url(../../../images/background-exp.png);
  height: 900px;
  width: 1900px;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 0;
  overflow: hidden;
}

.exp__pentagon::before {
  content: '';
  position: absolute;
  top: 100px;
  right: 50px;
  height: 653px;
  width: 653px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(10, 10, 240, 0.13) 47%, rgba(255, 0, 0, 0) 72%);
  z-index: 1;
}

.exp__pentagon::after {
  content: '';
  position: absolute;
  background-image: url(../../../images/Union.png);
  top: 100px;
  right: 50px;
  height: 653px;
  width: 653px;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 2;
}