.announcement__title {
  font-family: 'Loos', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 62px;
  max-width: 650px;
}

@media screen and (max-width: 1750px) {
  .announcement__title {
    margin: 0;
    line-height: 59px;
    text-align: left;
  }
}