.use__background {
  background: rgba(10, 10, 240, 1);
  width: 1560px;
  height: 505px;
  border-top-right-radius: 260px;
  position: relative;
}

.use__background::after {
  content: '';
  width: 200px;
  height: 180px;
  background:white;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  position: absolute;
  top: 0;
  right: 0;
}