.documentation__background {
  background: rgb(238, 241, 242);
  width: 387px;
  height: 188px;
  position: relative;
  border-bottom-right-radius: 28px;
  margin: 218px 0 0;
}

.documentation__background::after {
  content: '';
  width: 20px;
  height: 18px;
  background:#fff;
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  position: absolute;
  bottom: 0;
  right: 0;
}