.announcement {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-areas: "text image";
  position: relative;
  margin: 0, auto;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 1750px) {
  .announcement {
    grid-template-areas: "image"
      "text";
  }
}