.announcement__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 90px 0 90px 360px;
  min-height: 457px;
  align-items: flex-end;
  background-color: #FE4600;
  grid-area: text;
}

@media screen and (max-width: 1750px) {
  .announcement__text {

  }
}